.pixel-canvas {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.pixel-card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  isolation: isolate;
  background: transparent;
  user-select: none;
}

.pixel-card .content {
  z-index: 100;
}
